.div1
{
	position:relative;
	top:422px;
	left:49.9%; 
	width:330px;
	height:575px;
    transform: translate(-50%, -50%);
	background-image: url("gameboy.png");
	background-size: 100%;
	animation-name: prendre;
	animation-duration: 3s;

}

.div2
{
	position:absolute;
	top: 27.5%;
	left:50.3%; 
    transform: translate(-50%, -50%);
}

	
body
{
	background-image: url("fond.png");
}

.button1
{
	position: absolute;
	background:transparent;
    border:none;
    outline:none;
    display:block;
    height:35px;
    width:35px;
    cursor:pointer;
	top: 79.5%;
	left: 64%;
}

.button2
{
	position: absolute;
	background:transparent;
    border:none;
    outline:none;
    display:block;
    height:35px;
    width:35px;
    cursor:pointer;
	top: 70%;
	left: 80%;
}




@keyframes prendre
{
	from{top:1400px}
	to{top:422px}
}
